.search-form .input-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #000;
}

.search-form .input-group input.form-control {
  /*margin-left: -25px;*/
  border: none;
  background: transparent;
  box-shadow: none;
  display: block;
  /*padding: 1rem 2rem;*/
}

.search-form .input-group:hover, .search-form .input-group.hover {
  width: 100%;
  /*border-radius: 25px 25px 25px 25px;*/
}

.search-form .input-group span.form-control-feedback {
  position: absolute;
  top: -5px;
  bottom: 0px;
  right: -2px;
  left: 5px;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #000000;
  left: initial;
  font-size: 14px;
}

.input-group-btn.fa.fa-search.form-control-feedback {
  background-color: #343a40;
  margin-top: 2px;
  color: white;
  border-radius: 25px;
}

.dropdown-menu.text-nowrap.text-white.bg-dark {
  margin-top: 6px;
}

.navbar-brand img {
  height: 45px!important;
  width: auto;
}

.inline-flex.searchbox {
  margin-left: auto;
}

.inline-flex.searchgroup {
  margin-top: 7px;
  float: right;
  margin-left: auto;
}

.navbar.navbar-dark.navbar-expand-lg.fixed-top.bg-dark {
  margin-top: auto;
  padding-top: 4px;
  margin-bottom: auto;
  padding-bottom: 4px;
}

